html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

:root{
    --primary-color: #212121;
    --text-color: #757575;
    --secondary-color: #FFFFFF;
    --secondary-link-color: rgba(255, 255, 255, 0.6);
    --accent-color: #2196F3;
}

/* header */

.logo{
    color: #000000;
    font-family: Raleway, sans-serif;
    font-style: 700;
    font-size: 26px;
    line-height: 1.2;

}
.logo-span,
.nav-link:hover,
.nav-link:focus,
.info:hover,
.info:focus
{
    color: var(--accent-color);
}

.nav-link{
    color: var(--primary-color);
    font-family: Roboto, sans-serif;
    font-style: 500;
    font-size: 14px;
    line-height: 1.2;
    
}

.list-item{
    color: var(--text-color) ;
    margin-right: 54px;

}

.list-item:last-child{
    margin-right: 0;
}

/* Hero-section */

.hero-section{
    background-color: #2F303A;
    padding-bottom: 200px;
    padding-top: 200px;
}

.hero-title{
    color: var(--secondary-color);
    font-family: Roboto, sans-serif;
    font-style: 900;
    font-size: 44px;
    line-height: 1.2;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
}

.nav-list{
    list-style: none;
}

.head-title{
    color: var(--primary-color);
    font-family: Roboto, sans-serif;
    font-style: 700;
    font-size: 14px;
    line-height: 1.2;
}

.names{
    color: var(--primary-color);
    font-family: Roboto, sans-serif;
    font-style: 500;
    font-size: 16px;
    line-height: 1.2;
}

.items-descritption{
    color: var(--primary-color);
}

.h2-title{
    color: var(--primary-color);
    font-family: Roboto, sans-serif;
    font-style: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    }

.p-small{
    color: var(--text-color);
    font-family: Roboto, sans-serif;
    font-style: 400;
    font-size: 16px;
    line-height: 1.2;
}

.p-description{
    color: var(--text-color);
    font-family: Roboto, sans-serif;
    font-style: 400;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
}

.address{
    color: var(--secondary-color);
    font-family: Roboto, sans-serif;
    font-style: 400;
    font-size: 14px;
    line-height: 1.2;
    margin-top: 20px;
    margin-left: 40px;
}

.footer{
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-link{
    color: var(--secondary-link-color);
    font-family: Roboto, sans-serif;
    font-style: 400;
    font-size: 14px;
    line-height: 1.2;
    margin-top: 9px;
    margin-left: 0px;
}

.button{
    background-color: var(--accent-color);
    color: var(--secondary-color);
    font-family: Roboto, sans-serif;
    font-style: 700;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    border: none;
    border-radius: 3px;
    width: 152px;
    height: 30px;
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
}

body{
    color: var(--text-color);
    background-color: #FFFFFF;
    font-family: roboto, sans-serif;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

.link-text{
    color: var(--primary-color);
    display: inline-block;
    border-radius: 4px;
    width: 73px;
    height: 38px;
    border: 1px solid black;
    padding: 6px 22px;
}

.info{
    color: var(--text-color);
}

.logofooter{
    color: var(--secondary-color);
    font-family: Raleway, sans-serif;
    font-style: 700;
    font-size: 26px;
    line-height: 1.2;
    margin-left: 40px;
}

.team{
    background-color: #F5F4FA;
}

.container{
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 0px;
}

h1,
h2,
h3,
p,
ul{
    margin-top: 0;
}

.section{
    padding-top: 94px;
    padding-bottom: 94px;
    margin-top: 0;
    margin-bottom: 0;
}

.header-nav{
    display: flex;
    align-items: center;
}

.nav-list{
    display: flex;
}


.link-list{
    display: flex;
}

.link-list li + li{
    margin-left: 50px;
}

